| id_alumna | nombre          | dirección       | id_asignatura | asignatura       | nota |
|-----------|-----------------|-----------------|---------------|------------------|------|
| 1         | Cristina Marín  | Cuenca, España  | 101           | Bases de datos   | 8    |
| 1         | Cristina Marín  | Cuenca, España  | 102           | Extracción       | 9    |
| 1         | Cristina Marín  | Cuenca, España  | 103           | Limpieza         | 8    |
| 2         | Marta López     | Toledo, España  | 101           | Bases de datos   | 7    |
| 2         | Marta López     | Toledo, España  | 103           | Limpieza         | 9    |
| 3         | Rocío Pérez     | Nantes, Francia | 101           | Bases de datos   | 10   |
| 3         | Rocío Pérez     | Nantes, Francia | 102           | Extracción       | 7    |
| 4         | Elena Rodriguez | Monterrey, México| 101           | Bases de datos   | 10   |
| 4         | Elena Rodriguez | Monterrey, México| 102           | Extracción       | 9    |
| 4         | Elena Rodriguez | Monterrey, México| 103           | Limpieza         | 7    |

# 1FN

| id_alumna | nombre   | apellido   | ciudad     | país       | id_asignatura | asignatura       | nota |
|-----------|----------|------------|------------|------------|---------------|------------------|------|
| 1         | Cristina | Marín      | Cuenca     | España     | 101           | Bases de datos   | 8    |
| 1         | Cristina | Marín      | Cuenca     | España     | 102           | Extracción       | 9    |
| 1         | Cristina | Marín      | Cuenca     | España     | 103           | Limpieza         | 8    |
| 2         | Marta    | López      | Toledo     | España     | 101           | Bases de datos   | 7    |
| 2         | Marta    | López      | Toledo     | España     | 103           | Limpieza         | 9    |
| 3         | Rocío    | Pérez      | Nantes     | Francia    | 101           | Bases de datos   | 10   |
| 3         | Rocío    | Pérez      | Nantes     | Francia    | 102           | Extracción       | 7    |
| 4         | Elena    | Rodriguez  | Monterrey  | México     | 101           | Bases de datos   | 10   |
| 4         | Elena    | Rodriguez  | Monterrey  | México     | 102           | Extracción       | 9    |
| 4         | Elena    | Rodriguez  | Monterrey  | México     | 103           | Limpieza         | 7    |

# 2FN

| id_alumna | nombre   | apellido   | ciudad     | país       |
|-----------|----------|------------|------------|------------|
| 1         | Cristina | Marín      | Cuenca     | España     |
| 2         | Marta    | López      | Toledo     | España     |
| 3         | Rocío    | Pérez      | Nantes     | Francia    |
| 4         | Elena    | Rodriguez  | Monterrey  | México     |


##



| id_asignatura | asignatura     |
|---------------|----------------|
| 101           | Bases de datos |
| 102           | Extracción     |
| 103           | Limpieza       |


##


| id_alumna | id_asignatura | nota |
|-----------|---------------|------|
| 1         | 101           | 8    |
| 1         | 102           | 9    |
| 1         | 103           | 8    |
| 2         | 101           | 7    |
| 2         | 103           | 9    |
| 3         | 101           | 10   |
| 3         | 102           | 7    |
| 4         | 101           | 10   |
| 4         | 102           | 9    |
| 4         | 103           | 7    |

Justificación para 3FN
Tabla Alumna:

Cada atributo (nombre, apellido, ciudad, país) depende únicamente de id_alumna, que es la clave primaria.
No hay dependencias transitivas entre los atributos no clave.
Tabla Asignatura:

Cada atributo (asignatura) depende únicamente de id_asignatura, que es la clave primaria.
Tabla Alumna_Asignatura:

La nota depende únicamente de la combinación de id_alumna y id_asignatura, que es la clave primaria compuesta.
No hay dependencias transitivas en esta tabla.
Con estas tres tablas, se logra cumplir con la primera (1FN), segunda (2FN) y tercera forma normal (3FN), asegurando la eliminación de redundancias y dependencias no deseadas.